/* styles.css */
body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #ea5e5e;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}